main16 ICON DISCARDABLE ico16.ico
main24 ICON DISCARDABLE ico24.ico
main32 ICON DISCARDABLE ico32.ico
main64 ICON DISCARDABLE ico64.ico
main128 ICON DISCARDABLE ico128.ico
main256 ICON DISCARDABLE ico256.ico
main512 ICON DISCARDABLE ico512.ico